<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
    <div class="txt">현재의 기분상태를 표현해주세요!</div>
    <div class="input_space">
        <form action="\post" method="post">
            <textarea type="text" name='userBusNumber' value="지금 기분을 한문장으로 표현해주세요." id="exp" style="min-width:1000px; min-height: 50px"></textarea>
            <input type="submit" value="OK">
        </form>
    </div>
</body>

<script>
    // const bell = document.querySelector('.btn')
    // bell.addEventListener('click', function(e){
    //     console.log(bell.className);
    //     location.href = "http://localhost:5000/bell"
    // })
    
    
</script>

<style>
   
    .input_space {
        padding-top: 50px;
        display:flex;
        flex-direction:column;
        align-items: center;

    }
    .txt {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-top: 50px;
        font-size:70px;
    }
    
</style>