<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>enter your emotion</title>
</head>
<body>
    현재 기분은 "{{sentiment}}"로 추정되는 군요.
    "{{value}}"를 토대로 분석한 노래 추천 결과입니다.
    마음에 드시나요? <br><br>
    <div class="retry">
        <form action="\retry" method="post">
            <input type="submit" value="다시 해보기">
        </form>
    </div>
    만약 현재 기분이 "{{sentiment}}"가 아니라면 어떤 기분인지 선택해주세요!
  
    <div class="reindexing">
        <form action="\reindexing" method="post">
            <input type="radio" name="xxx" value="0" checked>기쁨<br>
            <input type="radio" name="xxx" value="2">슬픔<br>
            <input type="radio" name="xxx" value="3">화남<br>
            <input type="radio" name="xxx" value="1">불안<br>
            <input type="submit" value="제출" onclick="alert('소중한 의견 감사합니다!');">
        </form>
    </div>
    
</body>

